head
  meta(charset="utf-8")/
  meta(name="ROBOTS" content="NOODP")/
  meta(name="viewport" content="initial-scale=1")/
  link(rel="stylesheet" media="screen" href="/static/application.css")/
  if i18n[PageI18NKey] == i18n.AppName
    title=i18n.AppName
  else
    title
      =i18n[PageI18NKey]
      |
      =i18n.AppName