if layout.intro
  header.header
    h1.header__heading#page-title
      =i18n[PageI18NKey]
else
  header.header.header_up
    h1.header__heading#page-title=i18n[PageI18NKey]
    .header__sitedesc=i18n[PageDescI18NKey]
    if HasAction
      .header__actions
        a.button.button_action#action=i18n[ActionI18NKey]