doctype html
html
  include head.pug
  body
    .app-container
      svg#background(xmlns="http://www.w3.org/2000/svg")
        g
          rect#svg_5(y="0" x="0" fill="#64ffda" height="100%" width="100%")/
          rect#svg_4(stroke="#000" transform="rotate(-31 469.4086055755615,338.0698547363281)" height="120%" width="140%" y="60%" x="-20%" stroke-width="0" fill="#00ffc2")/
      main.main-content(role="main")
        div
          include header.pug
          if layout.intro
            p.med=i18n.AppDesc
            button.discord
              a(href="https://discordapp.com/oauth2/authorize?client_id=310499528606482442&scope=bot&permissions=2146958591")= i18n.DiscordAuthorize
            button.discord.discordauth
              a(href="https://discordapp.com/oauth2/authorize?client_id=310499528606482442&response_type=code&redirect_uri=http://localhost:3000/callback&scope=identify+guilds")= i18n.DiscordAuthDashboard
        if layout.intro
          div
            video(autoplay)
              source(src="/static/sighthound.mp4" type="video/mp4")
        if layout.controlpanel
          section.flex#cp
            aside
              ul
                li.react.active#selecthound=i18n.SelectHound
            div.cpframe
              p=i18n.Connecting
    script(src="/socket.io/socket.io.js")
    script(src="/static/application.js")