form.search
  span.search__icon
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="16" width="16"><use xlink:href="/static/search.svg#search" height="100%" width="100%"></use></svg>
  input.search__input(type="text" name="search" placeholder=i18n.Search value="" aria-label=i18n.Search)
  span.search__hint= i18n.Searching
  span.search__clear
    a(href="#")
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="16" width="16"><use xlink:href="/static/cancel-search.svg#cancel-search" height="100%" width="100%"></use></svg>