.sidebar
  ul.sidebar__list
    li
      if active.overview
        a.sidebar__link.sidebar__link--active(href="/jobs")= i18n.Overview
      else
        a.sidebar__link.sidebar__link--inactive(href="/jobs")= i18n.Overview
    li
      if active.schedjob
        a.sidebar__link.sidebar__link--active(href="/schedule/job")= i18n.SchedJob
      else
        a.sidebar__link.sidebar__link--inactive(href="/schedule/job")= i18n.SchedJob
    li
      if active.schedreplace
        a.sidebar__link.sidebar__link--active(href="/schedule/replace")= i18n.SchedReplace
      else
        a.sidebar__link.sidebar__link--inactive(href="/schedule/replace")= i18n.SchedReplace
    li
      if active.schedimport
        a.sidebar__link.sidebar__link--active(href="/schedule/importimages")= i18n.SchedImageImport
      else
        a.sidebar__link.sidebar__link--inactive(href="/schedule/importimages")= i18n.SchedImageImport
    li
      a.sidebar__link.sidebar__link--inactive(href=site.WikiUrl)= i18n.ReturnToWiki