table.collection-data(aria-labelledby="page-title")
  thead
    tr
      th.cell-label.cell-label--date-time.cell-label--false(scope="col")=i18n.CreatedAt
      th.cell-label.cell-label--date-time.cell-label--false(scope="col")=i18n.Type
      th.cell-label.cell-label--date-time.cell-label--false(scope="col")=i18n.Author
      th.cell-label.cell-label--date-time.cell-label--false(scope="col")=i18n.Actions